In the third article of the series, Using Machine Learning to Predict the Weather: Part 3, I describe how the processes and steps required to build a Neural Network using Google's TensorFlow to predict future mean daily temperatures. Using this method I can then compare the results to the Linear Regression model.

Topics I will be covering in this article include:

- Understanding Artificial Neural Networks Theory
- TensorFlow's High Level Estimator API
- Building a DNNRegressor to Predict the Weather

## Understanding Artificial Neural Networks Theory

#### En el notebook anterior he utilizado la tecnica de regresion lineal, la cual es muy util, pero rpesenta el problema de que se supone que hay una relacion lineal entre las variables a estudiar.

#### En este caso voy a utilizar redes neuronales, que se comportan bastante bien tanto cuando hay relaciones lineales como cuando no.

#### Se trata de un aprendizaje supervisado, ya el modelo se va a entrenar con informacion que ya se sabe su salida.

TODO --> poner mas informacion sobre como funciona una red neuronal

## TensorFlow's High Level Estimator API

#### TODO : explicar que es TensorFlow y como nos facilita la vida

#### En este notebook. voy a describir como usar uno de los estimadores mas potentes de redes neuronales, el `DNNRegressor`

## Construyendo un DNNRegressor para predecir el clima

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.metrics import explained_variance_score, \
    mean_absolute_error, \
    median_absolute_error
from sklearn.model_selection import train_test_split

#### ABRIMOS EL DF exportado de la segunda parte

In [2]:
import pickle
with open('end-part2_df.pkl', 'rb') as fp:
    df = pickle.load(fp)

In [6]:
# execute the describe() function and transpose the output so that it doesn't overflow the width of the screen
df.describe().T

        count       mean       std  min     25%    50%    75%   max
tmed    912.0  14.646162  7.740936  0.5   8.375  12.60  21.05  32.5
tmin    912.0   8.285965  6.953973 -5.4   2.675   7.60  13.80  24.5
tmax    912.0  21.008004  9.076888  2.6  13.500  18.90  28.85  42.2
tmed_1  912.0  14.649123  7.730972  0.5   8.400  12.60  21.05  32.5
tmed_2  912.0  14.642215  7.727721  0.5   8.400  12.60  21.05  32.5
tmed_3  912.0  14.637829  7.722571  0.5   8.375  12.60  21.05  32.5
tmin_1  912.0   8.295504  6.952217 -5.4   2.675   7.60  13.80  24.5
tmin_2  912.0   8.293860  6.950907 -5.4   2.700   7.60  13.80  24.5
tmin_3  912.0   8.294079  6.949257 -5.4   2.700   7.60  13.80  24.5
tmax_1  912.0  21.004276  9.060720  2.6  13.500  18.95  28.85  42.2
tmax_2  912.0  20.991776  9.056666  2.6  13.500  18.95  28.85  42.2
tmax_3  912.0  20.983114  9.050151  2.6  13.500  18.95  28.85  42.2

In [7]:
# execute the info() function
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 912 entries, 2018-01-04 to 2020-12-31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tmed    912 non-null    float64
 1   tmin    912 non-null    float64
 2   tmax    912 non-null    float64
 3   tmed_1  912 non-null    float64
 4   tmed_2  912 non-null    float64
 5   tmed_3  912 non-null    float64
 6   tmin_1  912 non-null    float64
 7   tmin_2  912 non-null    float64
 8   tmin_3  912 non-null    float64
 9   tmax_1  912 non-null    float64
 10  tmax_2  912 non-null    float64
 11  tmax_3  912 non-null    float64
dtypes: float64(12)
memory usage: 92.6+ KB

#### Podemos observar que tenemos menos de 1000 filas de datos, todos son de caracter numerico y ademas no hay datos nulos o que falten. Esto se debe al preprocesado que hicimos

#### Ahora